POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ztp_projekt

JWT_SECRET_KEY=change-me-random-secret

GUNICORN_WORKERS=4
GUNICORN_THREADS=2

REACT_APP_API_URL=/api

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_EXCHANGE=cinerent.events
NOTIFICATION_QUEUE=notification-service
NOTIFICATION_ROUTING_KEY=rental.*

AUDIT_QUEUE=audit-service
AUDIT_ROUTING_KEY=#
OUTBOX_BATCH_SIZE=20
OUTBOX_POLL_INTERVAL_SECONDS=2

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
